<div class="container p-3 mb-3 border border-info-subtle">
    <okh-event [event]="event"></okh-event>
    <div class="d-flex justify-content-end">
        <button type="button" (click)="addEventReview(false)" class="btn btn-sm btn-outline-success me-3">PUBLICAR</button>
        <button type="button" (click)="addEventReview(true)" class="btn btn-sm btn-outline-danger">ELIMINAR</button>
    </div>
    @if(flag_addReviewSolicitada && flag_addReviewExitoso){
    <div class="container bg-primary-subtle p-3 mt-3">
        Revision agregada exitosamente.
    </div>
    }
    @else if(flag_addReviewSolicitada && !flag_addReviewExitoso){
    <div class="container bg-danger-subtle px-3 pt-3 pb-1 mt-3">
        Ha habido algun error al intentar agregar su <u>revision</u>, posibles razones:
        <ul>
            <li>La revision ya ha sido agregada.</li>
            <li>Fallo de conexion con el servidor o en el servidor.</li>
        </ul>
    </div>
    }
</div>