<div class="container px-5 mt-5">
    <h5>Agregar usuario</h5>
    <hr />
    <div class="container mb-3">
        <div class="row mb-3">
            <label class="col-12 col-md-2">Username</label>
            <input [(ngModel)]="form_addUser.username" (blur)="getUser()" class="col form-control bg-secondary-subtle" />
        </div>
        <div class="row mb-3">
            <label class="col-12 col-md-2">Contraseña</label>
            <input [(ngModel)]="form_addUser.password" class="col form-control bg-secondary-subtle" />
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button (click)="addUser()" class="btn btn-sm btn-outline-primary">AGREGAR</button>
    </div>
    <hr />
    @if (flag_getUserReq && !flag_getUserOk) {
    <div class="d-flex bg-primary-subtle p-3 m-3">
        <label>Username disponible.</label>
    </div>
    }
    @else if (flag_getUserReq && flag_getUserOk) {
    <div class="d-flex bg-danger-subtle p-3 m-3">
        <label>Username <u>no</u> disponible.</label>
    </div>
    }
    @if (flag_addUserReq && flag_addUserOk) {
    <div class="d-flex bg-primary-subtle p-3 m-3">
        <label>Usuario agregado.</label>
    </div>
    }
    @else if (flag_addUserReq && !flag_addUserOk) {
    <div class="d-flex bg-danger-subtle p-3 m-3">
        <label>Usuario <u>no</u> agregado.</label>
    </div>
    }

</div>