@if(event){
<div class="container p-3 mb-3 border border-info-subtle">
    <okh-event [event]="event"></okh-event>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-sm btn-outline-danger" (click)="toggleQuiereDenunciar()">DENUNCIAR</button>
        <button type="button" (click)="addAsistencia()" class="btn btn-sm btn-outline-light ms-3">ASISTIR
            ({{event.plazas_ocupadas}}/{{event.plazas}})</button>
    </div>
    @if(flag_quiereDenunciar){
    <div class="d-flex justify-content-between mt-3">
        <select class="form-select me-3" id="exampleSelect">
            <option selected disabled hidden>MOTIVO DE DENUNCIA</option>
            @for(a of motivos; track $index){
            <option (click)="setMotivo(a)">{{a}}</option>
            }
        </select>
        <button type="button" (click)="addDenuncia()" class="btn btn-outline-danger">DENUNCIAR</button>
    </div>
    }
    @if(flag_addDenunciaSolicitada && flag_addDenunciaExitosa){
    <div class="container bg-primary-subtle p-3 mt-3">
        Denuncia agregada exitosamente.
    </div>
    }
    @else if(flag_addDenunciaSolicitada && !flag_addDenunciaExitosa){
    <div class="container bg-danger-subtle px-3 pt-3 pb-1 mt-3">
        Ha habido algun error al intentar agregar su <u>denuncia</u>, posibles razones:
        <ul>
            <li>La denuncia ya ha sido agregada.</li>
            <li>Fallo en el servidor o en la conexion con el servidor.</li>
        </ul>
    </div>
    }
    @if(flag_addAsistenciaSolicitada && flag_addAsistenciaExitosa){
    <div class="container bg-primary-subtle p-3 mt-3">
        Asistencia agregada exitosamente.
    </div>
    }
    @else if(flag_addAsistenciaSolicitada && !flag_addAsistenciaExitosa){
    <div class="container bg-danger-subtle px-3 pt-3 pb-1 mt-3">
        Ha habido algun error al intentar agregar su <u>asistencia</u>, posibles razones:
        <ul>
            <li>La asistencia ya ha sido agregada.</li>
            <li>Fallo en el servidor o en la conexion con el servidor.</li>
        </ul>
    </div>
    }
</div>
}