<div class="container p-3 mb-3 border border-info-subtle">
    <div class="row px-2 mb-2">
        <div class="col">
            {{complaint.nombre}} | {{complaint.plazas_ocupadas}} / {{complaint.plazas}}
        </div>
        <div class="col">
            {{complaint.fecha}} {{complaint.hora}} | {{complaint.lugar}}
        </div>
    </div>
    <div class="container p-3 mb-3 border-top border-bottom">
        <p class="text-start">{{complaint.descripcion}}</p>
        <div class="text-end">
            @for (tag of complaint.etiquetas; track $index) {
            <a class="link" [routerLink]="['/user','events','get']" [queryParams]="{tag:tag}">#{{tag}}</a>&nbsp;
            }
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div>
            {{complaint.username}} | {{complaint.motivo}}
        </div>
        <div>
            <button type="button" (click)="delComplaint()" class="btn btn-sm btn-outline-warning me-3">IGNORAR</button>
            <button type="button" (click)="delEvent()" class="btn btn-sm btn-outline-danger">ELIMINAR</button>
        </div>
    </div>
    @if(flag_delComplaintReq && flag_delComplaintOk){
    <div class="container bg-primary-subtle p-3 mt-3">
        Denuncia eliminada exitosamente.
    </div>
    }
    @else if(flag_delComplaintReq && !flag_delComplaintOk){
    <div class="container bg-danger-subtle px-3 pt-3 pb-1 mt-3">
        Ha habido algun error al intentar eliminar esta <u>denuncia</u>, posibles razones:
        <ul>
            <li>La denuncia ya ha sido eliminada.</li>
            <li>Fallo de conexion con el servidor o en el servidor.</li>
        </ul>
    </div>
    }
    @if(flag_delEventReq && flag_delEventOk){
    <div class="container bg-primary-subtle p-3 mt-3">
        Evento eliminado exitosamente.
    </div>
    }
    @else if(flag_delEventReq && !flag_delEventOk){
    <div class="container bg-danger-subtle px-3 pt-3 pb-1 mt-3">
        Ha habido algun error al intentar eliminar este <u>evento</u>, posibles razones:
        <ul>
            <li>El evento ya ha sido eliminado.</li>
            <li>Fallo de conexion con el servidor o en el servidor.</li>
        </ul>
    </div>
    }
</div>